body{
    background-color: aliceblue;
    font-family: Tahoma, Verdana, sans-serif;
}

/* the navigation bar part */
nav{
    background: #0d1b2a;
    color: #fff;
    padding: 15px 30px;
    position: sticky;
    top: 0; /*helps to keep the sticky feature */
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none; /* removes the style of the list */
    display: flex;
    justify-content: right;
}

li{
    margin: 10px;
}

/* the home section */
.area1{
    background-color: #0d1b2a;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    margin-top: 20px;
}

.area1 h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.area1 p{
    font-size: 20px;
    margin-bottom: 30px;
}

.area1 button{
    background-color: rgb(69, 166, 223);
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    margin-right: 50px;
}
/* the about section */
#box1{
    display: flex;
    gap: 100px; 
    justify-content: space-evenly;
}

#box2{
    align-items: left;
}

#about p{
    text-align: left;
    padding-top: 30px;
    padding-right: 50px;
    font-size: 20px;
    line-height: 1.6;
}

/* img{
    height: auto;
    max-width: 100%;
    border-radius: 100px;
} */

.picture-1{
    height: auto;
    max-width: 100%;
    border-radius: 100px;
}

/* the skills section */
.skill{
    display: flex;   
}

.s1,.s2,.s3,.s4{
    background-color: rgb(146, 216, 216);
    box-sizing: content-box;
    border: 2px solid rgb(182, 179, 179);
    padding: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: space-between;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: yellow;
}

a:focus{
    color: orange;
}

a:active{
    color: green;
}
section{
    align-items: center;
    margin: 100px;
}

button{
    background-color: rgb(69, 166, 223);
    border-radius: 10px;
    height: 50px;
    width: 100px;
}

/* Projects section */
#box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
}

.picture-2, .picture-3, .picture-4, .picture-5, .picture-6{
    width: auto;
    height: 25%;
    /* max-width: 100%; */
    border-radius: 20px;
    margin-bottom: 20px;
}

/* .project-1, .project-2, .project-3, .project-4, .project-5{
    display: flex;
    /* width: 50%; */
    height: 200px;
    text-align: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(138, 143, 143, 0.267);
    border: 2px solid rgb(182, 179, 179);
    border-radius: 20px;
    margin-bottom: 10px;
} */

.bold{
    font-weight: bolder;
    font-size: 20px;
}
/* the Experience section */

/* the Future goals section */

/* the Contact section */
form{
    text-align: center;
    padding: 50px;
}

input,textarea{
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgb(182, 179, 179);
}

textarea{
    height: 100px;
}

button{
    width: 150px;
    height: 40px;
    background-color: rgb(69, 166, 223);
    border-radius: 10px;
    margin: 20px 0px 0px 10px;
    font-weight: bolder;
    color: black;
    font-size: 20px;
}

button:hover{
    background-color: rgb(0, 110, 255);
}