body{
    background-color: aliceblue;
    font-family: Tahoma, Verdana, sans-serif;
}

/* the navigation bar part */
nav{
    background: #0d1b2a;
    color: #fff;
    padding: 15px 30px;
    position: sticky;
    top: 0; /*helps to keep the sticky feature */
    display: flex;
    justify-content: space-between;
}

ul{
    list-style: none; /* removes the style of the list */
    display: flex;
    justify-content: right;
}

li{
    margin: 10px;
}

/* the home section */
.area1{
    background-color: #0d1b2a;
    color: #fff;
    padding: 100px 20px;
    text-align: center;
    margin-top: 20px;
}

.area1 h1{
    font-size: 50px;
    margin-bottom: 20px;
}

.area1 p{
    font-size: 20px;
    margin-bottom: 30px;
}

.area1 button{
    background-color: rgb(69, 166, 223);
    border-radius: 10px;
    height: 50px;
    width: 150px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    margin-right: 50px;
}
/* the about section */
#box1{
    display: flex;
    gap: 100px; 
    justify-content: space-evenly;
}

#box2{
    align-items: left;
}

#about p{
    text-align: left;
    padding-top: 30px;
    padding-right: 50px;
    font-size: 20px;
    line-height: 1.6;
}

/* img{
    height: auto;
    max-width: 100%;
    border-radius: 100px;
} */

.picture-1{
    height: auto;
    max-width: 100%;
    border-radius: 100px;
}

/* the skills section */
.skill{
    display: flex;   
}

.s1,.s2,.s3,.s4{
    background-color: rgb(146, 216, 216);
    box-sizing: content-box;
    border: 2px solid rgb(182, 179, 179);
    padding: 20px;
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: space-between;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: yellow;
}

a:focus{
    color: orange;
}

a:active{
    color: green;
}
section{
    align-items: center;
    margin: 100px;
}

button{
    background-color: rgb(69, 166, 223);
    border-radius: 10px;
    height: 50px;
    width: 100px;
}

/* Projects section */
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(3, auto);  /* 2 rows, height automatic */
    gap: 50px; /* optional spacing between grid items */
    background-color: antiquewhite;
    width: 100%;
    padding: 20px;
}

div .project {
    background-color: #0d1b2a;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.view-more-card{
    grid-column: 2 / 3;  /* place it in the middle column */
    width: 100%;        /* different width */
    height: 2vh;      /* different height */
    justify-self: center; /* center it inside the grid cell */
    background-color: #0d1b2a;
    text-align: center;
    padding: 10px;
}
/* #project{
    width: 25%;
    height: auto;
    text-align: center;
    padding: 20px;
    margin: 20px;
    background-color: #0d1b2a; */
}

.view-more{
    font-weight: bolder;
    color: black;
    font-size: 15px;
}

.picture-2{
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 90%;
    width: 150px;
    height: auto;
}

.bold{
    font-weight: bolder;
    font-size: 20px;
}

.social-links{
    color:blue
}

.social-links:hover{
    color: red;
}

.social-links:focus{
    color: orange;
}

.social-links:active{
    color: green;
}
/* the Experience section */

/* the Future goals section */

/* the Contact section */
form{
    text-align: center;
    padding: 50px;
}

input,textarea{
    width: 300px;
    height: 30px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid rgb(182, 179, 179);
}

textarea{
    height: 100px;
}

button{
    width: 150px;
    height: 40px;
    background-color: rgb(69, 166, 223);
    border-radius: 10px;
    margin: 20px 0px 0px 10px;
    font-weight: bolder;
    color: black;
    font-size: 20px;
}

button:hover{
    background-color: rgb(0, 110, 255);
}